<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DailyPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DailyPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DailyPlanner.Properties.Settings>
            <setting name="notepadFilename" serializeAs="String">
                <value>notepad.rtf</value>
            </setting>
        </DailyPlanner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DailyPlanner.Properties.Settings>
            <setting name="DailyPlanner_com_cobbnz_weather_clsWebService"
                serializeAs="String">
                <value>http://weather.cobbnz.com/weatherservice/webservice.asmx</value>
            </setting>
        </DailyPlanner.Properties.Settings>
    </applicationSettings>
</configuration>